//
// ggj-core

package ggj {

import flash.utils.Dictionary;

public class ResourceVersioning
{
    public static function getVersionedName (name :String) :String {
        return (NAMES[name] || name);
    }

    protected static const NAMES :Dictionary = new Dictionary();
    {{#data}}
    NAMES["{{path}}"] = "{{versioned-path}}";
    {{/data}}
}
}
